

.container {
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(105, 104, 104);
    padding: 30px 80px;
    color: white;
    border-radius: 14px;
    margin-top: 30vh;
}

.time {
    font-size: 3em;
}

.container button {
    font-size: 1em;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
}

.container button:hover {
    color: white;
    background-color: rgb(36, 35, 35);
}

.mode-btn {
    font-size: 1em;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgb(194, 194, 194);
}

.mode-btn:hover {
    color: white;
    background-color: rgb(36, 35, 35);
}

.mode-btn-fix {
    justify-self: center;
    margin-top: 20px;
}